* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  background: rgba(118, 159, 205, 0.65);
  font-size: 24px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  background: #B9D7EA;
  -webkit-box-shadow: 2px 1px 2px 0px #463f3f;
          box-shadow: 2px 1px 2px 0px #463f3f;
  padding: 0 5px;
}

.btn-menu {
  font-size: 24px;
  margin: 0 10px 0 0;
  padding: 5px 10px;
}

.header {
  margin: 50px 0;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  margin-left: 40%;
}

.header__ikon {
  width: 31px;
  height: 31px;
}

.header__ikon:hover {
  background: #ff0e0e;
}

.work__cliker {
  padding: 10px 50px;
  text-align: center;
}

.input__creatTask {
  width: 782px;
  height: 80px;
  background: #B9D7EA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  padding-left: 20px;
  padding-right: 10px;
}

.task {
  width: 782px;
  height: 80px;
  background: #B9D7EA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  padding-left: 20px;
  padding-right: 10px;
}
