@import "_nullStyle";

body{
	background: #000;
}
.container {
	width: 100%;
	max-width: 1440px ;
}

.btn {
}
.btn--menu {
}


.header {

	&__items {
	}

	&__menu {
	}

	&__settings {
	}

	&__ikon {
	}
}
