.task-menu {
  border: 5px solid black;
  border-top: 0;
  max-width: 778px;
  display: none;
  &__active{
    display:block;
  }
  &__title {
    border-bottom: 5px solid black;
    input {
      border: none;
      background-color: transparent;
      width: 768px;
      height: 50px;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__text {
    border-right: 5px solid black;
    textarea {
      padding: 10px;
      height: 396px;
      width: 390px;
      font-size: 20px;
      resize: none;
    }
  }

  &__wrapper {
    display: flex;
  }
}