@import "_nullStyle";

body{
	background: rgba(118, 159, 205, 0.65) ; 
	font-size: 24px;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;

}
.btn {
	background: #B9D7EA;
	box-shadow: 2px 1px 2px 0px #463f3f ;
	padding: 0 5px;
	transition: background 1s;
	&:hover{
		background: #8eb8d3;
	}


}
.btn-menu {
	font-size: 24px;
	margin: 0 10px 0 0;
	padding: 5px 10px;

	
}

.header {
margin: 50px 0;
	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		margin-left: 40%;
	}

	&__settings {
	}

	&__ikon {
	
		width: 31px;
		height: 31px;

	  &:hover{
		  background: rgb(255, 14, 14);
	  }
	}
}



.work {

		&__items {
		}

		&__cliker {
			
			padding: 10px 50px;
			text-align: center;
		}
}

.input__creatTask{
	width: 782px;
	height: 80px;
	background: #B9D7EA;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 30px;
	padding-left: 20px;
	padding-right: 10px;

}
.task{
	width: 782px;
	height: 80px;
	background: #B9D7EA;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 30px;
	padding-left: 20px;
	padding-right: 10px;

}


.sub-menu 
{ 
   display: none; 
} 
.main-item:focus ~ .sub-menu, 
.main-item:active ~ .sub-menu, 
.sub-menu:hover 
{ 
   display: block; 
   
} 


.main-item{
	text-decoration: none;
	background: #000;
	padding: 20px;
	
}