@import "_nullStyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

.none {
  display: none !important;
}
.header {
  background-color: black;
  max-width: 1440px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  &__hide {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  &__items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    border: 3px solid white;
  }
  &__button {
    display: flex;
    align-items: center;
    padding: 9px 10px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    border-right: 3px solid white;
    &:last-child {
      border-right: none;
    }
    &:hover {
      background: rgb(58, 55, 55);
    }
  }
  &__search-input {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
  }
}

.filters {
  max-width: 1440px;
  margin: 0 auto;
  border: 4px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  p {
    margin: 0 10px;
    color: #000;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}
.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task {
  width: 778px;
  color: white;
  &__wrapper {
    margin-top: 35px;
    display: flex;
    padding: 15px 8px;
    background-color: black;
  }
  &__text {
    margin-left: 15px;
    flex-basis: 85%;
    font-size: 24px;
  }
  &__buttons {
    margin-right: 5px;
    transition: 0.3s;
    &:hover {
      transform: scale(0.9, 0.9);
    }
  }
  &__label {
    position: relative;
    width: 30px;
    height: 33px;
  }
  &__button {
    &-input {
      appearance: none;
    }
    &-checkbox {
      cursor: pointer;
      position: absolute;
      background-image: url("$img/checkbox-noCheked.svg");
      width: 29px;
      height: 29px;
    }
    &-input:checked + &-checkbox {
      background-image: url("$img/checkbox-checked.svg");
    }
  }
  &__menu {
    border: 5px solid black;
    max-width: 778px;
    position: absolute;
    visibility: hidden;
    opacity: 0;

    &__input-title {
      border-bottom: 5px solid black;
      input {
        border: none;
        background-color: transparent;
        width: 768px;
        height: 50px;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
      }
    }

    &__input-text {
      border-right: 5px solid black;
      textarea {
        padding: 10px;
        height: 396px;
        width: 390px;
        font-size: 20px;
      }
    }

    &__wrapper {
      display: flex;
    }
  }
}
.no-change{
  position: relative;
  visibility: visible;
  opacity: 1;
}
.calendar {
  height: max-content;
  width: max-content;
  overflow: hidden;
  position: relative;
  height: inherit;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
  color: black;
  padding: 0 10px;
}

.calendar-body {
  padding: 0 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: #c3c2c8;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: black;
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: black;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: black;
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: black;
  color: white;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: #edf0f5;
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: #edf0f5;
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #151426;
}

.month-list > div > div:hover {
  background-color: #edf0f5;
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
