.task-menu {
  border: 5px solid black;
  display: none;

  &_create {
    border: 5px solid black;
    max-width: 700px;
    display: block;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    input {
      border-bottom: 5px black solid;
      display: block;
      height: 45px;
      padding: 10px;
      font-size: 20px;
      width: inherit;
    }
    textarea {
      resize: none;
      display: block;
      padding: 10px;
      height: 290px;
      width: inherit;
      font-size: 16px;
    }
  }

  &__active {
    display: block;
  }

  &__text {
    textarea {
      padding: 10px;
      height: 296px;

      font-size: 20px;
      resize: none;
    }
  }
}
